<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>House number:</strong>
  <%= @user.house_number %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user.postcode %>
</p>

<p>
  <strong>Destination postcode:</strong>
  <%= @user.destination_postcode %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @user.cost %>
</p>

<p>
  <strong>Booking date:</strong>
  <%= @user.pickup_date %>
</p>

<%= @user.vehichles.first.name %>

<%= @user.vehichles.first.quantity %>

<%= @user.vehichles.last.name %>

<%= @user.vehichles.last.quantity %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>



<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>

<%= image_tag("car-large-bag.gif", size: "80x80") %>
<%= image_tag("broken_tibia.jpg", size: "120x120") %>

