<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>House number:</strong>
  <%= @user.house_number %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user.postcode %>
</p>

<p>
  <strong>Destination postcode:</strong>
  <%= @user.destination_postcode %>
</p>
 <p>
  <strong>Booking date:</strong>
  <%= @user.pickup_date %>
</p>

<p>
  <strong>Booking status:</strong>
  <%= @user.booked? %>
</p>
<%= @user.dest_address %>
<p>
<% if @user.vehichles.any? %>
<% @user.vehichles.each do |vecl| %>
<%= "#{vecl.name + ":" + vecl.quantity.to_s}" %>
<% end %>
<% end %>
</p>
<p>
  <strong>Total Fare:</strong>
  <%= number_to_currency(@user.cost, unit: :£) %>
</p>
<% unless @user.booked? %>
<%= render 'booking' %>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>





